html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  background-image: url("../image/apple-new.jpg");
  font-family: "Poppins", sans-serif;
  background-size: cover;
}
body .container {
  margin: 30px;
  display: flex;
  justify-content: space-around;
}
body .container .firstSection {
  background-color: #f0e3c4;
  margin-right: 10px;
  height: 250px;
}
body .container .firstSection ul {
  list-style: none;
}
body .container .firstSection ul li {
  background-color: white;
  width: 150px;
  margin: 10px;
}
body .container .firstSection ul li a {
  text-decoration: none;
  margin-left: 10px;
  font-weight: bold;
  color: #daa592;
}
body .container .secondSection {
  background-color: #f0e3c4;
  margin-right: 10px;
  padding: 20px;
  width: 40%;
}
body .container .secondSection div {
  display: flex;
  align-items: center;
  flex-direction: column;
}
body .container .secondSection div img {
  width: 180px;
  border-radius: 150px;
  border: 2px solid #daa592;
}
body .container .secondSection div h1 {
  font-weight: bold;
  font-size: 30px;
}
body .container .secondSection div h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding-bottom: 30px;
}
body .container .secondSection div p {
  font-size: 14px;
  padding: 25px;
  text-align: justify;
  border-top: 1px solid #daa592;
}
body .container .secondSection div span {
  color: black;
  background-color: #daa592;
  padding: 10px;
  font-weight: bold;
  margin-bottom: 10px;
}
body .container .secondSection div ul {
  margin: 10px 0;
  list-style: none;
  display: flex;
}
body .container .secondSection div ul li {
  font-size: 30px;
  margin-right: 10px;
}
body .container .secondSection div ul li a {
  text-decoration: none;
  color: #daa592;
}
body .container .thirdSection {
  width: 40%;
  background-color: #f0e3c4;
  padding: 20px;
}
body .container .thirdSection h3 {
  color: #daa592;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 15px;
  border-bottom: 1px solid #daa592;
  margin-bottom: 15px;
}
body .container .thirdSection nav {
  margin: 10px 15px;
  width: 95%;
  display: flex;
  justify-content: space-around;
}
body .container .thirdSection nav a {
  width: 50%;
  background-color: #daa592;
  font-size: 18px;
  text-decoration: none;
  color: #83142c;
  font-size: 16px;
  padding: 5px 10px;
  margin-right: 10px;
}
body .container .thirdSection h3 {
  margin: 20px;
}
body .container .thirdSection h3 i {
  color: #daa592;
}
body .container .thirdSection .education {
  padding: 20px;
  border: 2px solid #daa592;
  margin-bottom: 20px;
  width: 85%;
  margin-left: 15px;
}
body .container .thirdSection .education h5 {
  color: black;
  font-weight: bold;
  font-size: 18px;
}
body .container .thirdSection .education span {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
body .container .thirdSection .education p {
  font-size: 14px;
}

/*# sourceMappingURL=style.css.map */
