html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
    background-image: url("../image/apple-new.jpg");
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    .container{
        margin: 30px;
        display: flex;
        justify-content: space-around; 
        .firstSection{
            background-color: #f0e3c4;
            margin-right: 10px;
            ul{
                list-style: none;
                li{
                    background-color: white;
                    width: 150px;
                    margin: 10px;
                    a{
                        text-decoration: none;
                        margin-left: 10px;
                        font-weight: bold;
                        color: #daa592;
                    }
                }
            }
        }
        .secondSection{
            background-color: #f0e3c4;
            margin-right: 10px;
            padding: 20px;
            width: 40%;
            div{
                display: flex;
                align-items: center;
                flex-direction: column;
                img{
                    width: 180px;
                    border-radius: 150px;
                    border:2px solid #daa592;
                }
                h1{
                    font-weight: bold;
                    font-size: 30px;
                }
                h4{
                    font-family: 'Montserrat', sans-serif;
                    font-weight: bold;
                    padding-bottom: 30px;
                }
                p{
                    font-size: 14px;
                    padding: 25px;
                    text-align: justify;
                    border-top: 1px solid #daa592;
                }
                span{
                    color: black;
                    background-color: #daa592;
                    padding: 10px;
                    font-weight: bold;
                    margin-bottom: 10px;
                }
                ul{
                    margin: 10px 0;
                    list-style: none;
                    display: flex; 
                    li{
                        font-size: 30px;
                        margin-right: 10px;
                        a{
                            text-decoration: none;
                            color: #daa592;
                        }
                    }
                }
            }
        }
        .thirdSection{
            width: 40%;
            background-color: #f0e3c4;
            padding: 20px;
        }
    }
}